@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,100&display=swap');

body{
    background-color: rgb(68, 74, 103);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    float: left;
    width: absolute;
    height: 100%;
    background-color: rgb(119, 124, 145);
}

li{
    list-style-type: none;
}

#logo{
    width: 6rem;
    border-radius: 50%;
}

#group-name{
    color: #fff;
}

.logo_name{
    margin-top: 10px;
}

.menu li{
    margin-bottom: 3em;
    margin-left: 20px;
}

.localizacaoSite{
    margin: 0;
    position: absolute;
    top: 50%;
}

.localizacaoSite li{
    cursor: pointer;
}

.localizacaoSite li:hover{
    color: rgb(81, 155, 155);
    transition: 0.3s;
}

.menu li i span{
    font-size: 24px;
    margin-left: 1em;
    color: #fff;
}

#conteudo{
    margin-left: 18em;
    margin-top: 2em;
    text-align: center;
}

#title_principal{
    font-size: 7em;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 20%;
}

#subtitle{
    color: #fff;
    font-size: 2em;
    position: absolute;
}

#backgroundVideo_home{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    z-index: -1;
    opacity: 30%;
    width: 100%;
}

footer{
    font-style: italic;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 50%;
}