@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,100&display=swap');

body{

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    margin: 0;
    padding: 0;
    float: left;
    width: 15%;
    height: 100%;
}

li{
    list-style-type: none;
}

#logo{
    width: 5rem;
    border-radius: 50%;
}

.menu li{
    margin-bottom: 3em;
    margin-left: 20px;
}

.localizacaoSite{
    margin: 0;
    position: absolute;
    top: 50%;
}

.localizacaoSite li{

}

.menu li i span{
    font-size: 24px;
    margin-left: 1em;
}

#conteudo{
    width: 70%;
}